<!--Main Navigation-->
<header>
  
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark red-nav scrolling-navbar">
          <a class="navbar-brand" routerLink=""><strong><span class="spacing">ETHER</span> </strong><span class="tagline"><b>T</b>rading <b>C</b>ard <b>G</b>ame</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/shop">Shop <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/collection">Collection <i class="fa fa-id-card" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/market">Market <i class="fa fa-money" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/play">Play <i class="fa fa-gamepad" aria-hidden="true"></i></a>
                  </li>
              </ul>
              <ul class="navbar-nav nav-flex-icons">
                  <li class="nav-item">
                      <a class="nav-link"><strong>BALANCE: 0 <i class="fa fa-diamond fa-small" aria-hidden="true"></i></strong></a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link"><strong>CASH OUT <i class="fa fa-download" aria-hidden="true"></i></strong></a>
                  </li>
              </ul>
          </div>
      </nav>
  
  </header>
  <!--Main Navigation-->