.red-nav {
    background-color: #4285F4;
}

.tagline {
    display: block;
    font-size: 12px;
    position: relative;
    bottom: 5px;
    
}

.spacing {
   letter-spacing: 10px;
   font-family: Courgette;
}

b {
    font-size: 14px;
}

.fa-small {
    font-size: 14px;
}