.price {
    padding-right: 20px;
}

img {
    width: 300px;
}

.test-center {
    margin: 0 auto;
}

.fa {
    color: #5bc0de;
    font-size: 66px;
    margin-top: 30px;
}

h1 {
    letter-spacing: 12px;
    margin-bottom: 25px;
}

.less-bold {
    font-weight: 100;
}

.card {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}