<h1 class="text-center">CARD<span class="less-bold">COLLECTION</span></h1>

<div class="col-md-3 offset-md-3">
    <div class="card text-center">
          <i class="fa fa-diamond" aria-hidden="true"></i>
          <div class="card-body">
              <h4 class="card-title">Crypto Card Variety Pack</h4>
              <p class="card-text">A pack of five cards.</p>
              <hr>
              <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Purchase Pack</a>
          </div>
      </div>
  <div>