<h1 class="text-center">ETHER<span class="less-bold">SHOP</span></h1>

<div class="col-lg-4 offset-lg-4">
<div class="card text-center">
    
        <!--Card image-->
        <img class="mx-auto d-block" src="https://s3.amazonaws.com/crypto-cards/eth-logo.png" alt="Card image cap">
    
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Crypto Card Variety Pack</h4>
            <p class="card-text">A pack of five cards.</p>
            <hr>
            <p class="card-text"><span class="price">Price:</span>  <i class="fa fa-diamond" aria-hidden="true"></i> 0.26454<br><br>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Purchase Pack</a>
        </div>
    
    </div>

    <div>