.price {
    padding-right: 20px;
}

img {
    width: 150px;
    margin-top: 20px;
}

.test-center {
    margin: 0 auto;
}

.fa {
    color: #5bc0de;
}

h1 {
    letter-spacing: 12px;
    margin-bottom: 25px;
}

.less-bold {
    font-weight: 100;
}

.card {
    margin-bottom: 100px;
}